@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    
    --header-sizing: clamp(20px, 4.5vh, 200px);
    --footer-sizing: clamp(20px, 4.5vh, 200px);
    --body-sizing: calc(100vh - (var(--header-sizing) + var(--footer-sizing)));
    
    --primary-color: #202020;
    --secondary-color: #282828;
    --accent-color: #ffc517;
    --red-color: #ff7a51;
    --font-color: #fffdf8;
    --gray-font-color:#676e6c;
    --box-shadow: 0.8px 4.6px 1.6px rgba(0, 0, 0, 0.048), 1.6px 8.9px 3.9px rgba(0, 0, 0, 0.067), 2.3px 13px 7.3px rgba(0, 0, 0, 0.082),
    3.1px 17.4px 13px rgba(246, 0, 0, 0.097), 4.4px 24.3px 24.2px rgba(0, 0, 0, 0.116), 9px 50px 58px rgba(0, 0, 0, 0.16);
}

/*removing dafault button styling*/

button{
    border: none;
    padding: 0px;
    background-color: transparent;
  
    text-decoration: none;
    cursor: pointer;

}

form{
    position: absolute;
    font-size: 12px;

}




body{  

    margin:0px;
    color: var(--font-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700; 
    
}

header{

    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);


    box-sizing: border-box;
    padding: 10px;;
    height: var(--header-sizing);

    display: flex;
    align-items: center;
    justify-content: center;

}

#page{

    background-color: var(--primary-color);
    height: var(--body-sizing);
    margin: 0px;

    display: flex;

}

footer{
    
    /* styling*/
    color: var(--red-color);
    font-weight: 200;
    font-size: 12px;
    background-color: var(--secondary-color);
    height: var(--footer-sizing);

    /*formatting*/

    display: flex;
    align-items: center;
    justify-content: center;

}

#project-view-container{
    
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;

    background-color: #242424;
    flex: 1 1 20%;
    max-width: 220px;
}


#task-view-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

    background-color: var(--primary-color);   
  
    flex: 1 1 80%;
    padding-left: 200px;
    padding-right: 200px;
}

.project-name{
    font-size: 28px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
    height: 30px;
}

#add-task-btn{
    color: var(--gray-font-color);
    width: clamp(100px, 10%, 200px);
    transition: color 0.3s ease-in-out;

}
#add-task-btn:hover {
    color: var(--red-color);
}

/* item styling */
#item-container{

    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 10px 0px 10px 0px;

    border-bottom: solid 1px rgb(67, 67, 67);
    
}
.task-name-description-container{
    display: flex;
    flex-direction: column;
    gap: 6px;
}


.task-name{

    

}

.task-description{

    font-weight: 100;
    font-size: 12px;
    margin-bottom: 12px;

}

/* Modal Styling */

input{

    border: none;
    border-radius: 3px;
    color: var(--gray-font-color);
    background-color: transparent;
    font-weight: 700;
    font-size: 16px;

}

.priority-container{
    display: flex;
    align-items: center;
    color: var(--gray-font-color);
   
}

