@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    
    --header-sizing: clamp(20px, 4.5vh, 200px);
    --footer-sizing: clamp(20px, 4.5vh, 200px);
    --body-sizing: calc(100vh - (var(--header-sizing) + var(--footer-sizing)));
    
    --font-family: 'Raleway', sans-serif;

    --primary-color: #202020;
    --secondary-color: #282828;
    --accent-color: #ffc517;
    --red-color: #ff7a51;
    --font-color: #faffff;
    --gray-font-color:#676e6c;
    --box-shadow: 0.8px 4.6px 1.6px rgba(0, 0, 0, 0.048), 1.6px 8.9px 3.9px rgba(0, 0, 0, 0.067), 2.3px 13px 7.3px rgba(0, 0, 0, 0.082),
    3.1px 17.4px 13px rgba(246, 0, 0, 0.097), 4.4px 24.3px 24.2px rgba(0, 0, 0, 0.116), 9px 50px 58px rgba(0, 0, 0, 0.16);
}

/*removing dafault button styling*/

button{
    border: none;
    padding: 0px;
    background-color: transparent;
  
    margin: 3px;

    text-decoration: none;
    cursor: pointer;
}




.active-flex{
    display: flex;
}

form.rating{
    
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    width: clamp(400px, 100%, 1500px);

    margin-bottom: 8px;

    border: solid 1px var(--gray-font-color);
    border: solid 1px var(--gray-font-color);
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    
}

body{  
    margin:0px;
    color: var(--font-color);
    font-family: var(--font-family);
    font-weight: 500; 
}

header{

    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);

    box-sizing: border-box;
    padding: 10px;;
    height: var(--header-sizing);

    display: flex;
    align-items: center; 
    justify-content: center;
}

#page{
    background-color: var(--primary-color);
    height: var(--body-sizing);
    margin: 0px;

    display: flex;
}

footer{
    
    /* styling*/
    color: var(--red-color);
    font-weight: 200;
    font-size: 12px;
    background-color: var(--secondary-color);
    height: var(--footer-sizing);

    /*formatting*/

    display: flex;
    align-items: center;
    justify-content: center;

}

#project-view-container{
    display: flex;
    flex-direction: column;

    
    box-sizing: border-box;
    background-color: #242424;
    flex: 1 1 20%;
    max-width: 220px;
    padding: 15px;
}

div.project-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-list-title{

    box-sizing: border-box;

    color: var(--gray-font-color);
    padding: 6px;
}


.project-list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    box-sizing: border-box;

    padding: 7px;
}

.project-button{
    margin: 0px;
    margin-left: 6px;
    font-size: 12px;
    font-weight: 300;
    color: var(--font-color);

}

.project-counter{
    margin-left: auto;
    font-weight: 400;
    font-size: 14px;
    color: var(--gray-font-color);
}


#task-view-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

    background-color: var(--primary-color);   

    flex: 1 1 80%;
    padding-left: 100px;
    padding-right: 150px;
}

.project-name{
    font-size: 28px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
    height: 30px;
}

#add-task-btn{
    margin: 5px;
    color: var(--gray-font-color);
    width: clamp(100px, 10%, 200px);
    transition: color 0.3s ease-in-out;

}
#add-task-btn:hover {
    color: var(--red-color);
}

/* item styling */
#item-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
    margin: 10px 0px 10px 0px;

    border-bottom: solid 1px rgb(67, 67, 67);
}

.task-name-description-container{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.self-delete{

    margin-left: auto;
}

.task-description{

    font-weight: 200;
    font-size: 12px;
    margin-bottom: 12px;
}

/* Modal Styling */

label{
    display: flex;
    justify-content: center;
    align-items: center;  
}

input#task-name, input#description{
    border: none;
    border-radius: 3px;
    color: var(--gray-font-color);
    background-color: transparent;
    font-weight: 600;
    font-size: 12px;
}

.text-input-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input#description{
    font-weight: 100;
}

#modal-bottom-button-container{
    margin-left: auto; 
}


#modal-submit, #cancel-modal{
    background: #db4d4b;
    color: var(--font-color);

    font-family: var(--font-family);
    font-weight: 500;
    
    max-width: 80px;
    
    border-radius: 4px;
    border: none;
    padding: 5px 10px 5px 10px;
    
}

#cancel-modal{

    background: #2c2c2c;
 
}
    
#radio-priority-1, #radio-priority-2, #radio-priority-3, #radio-priority-4{
    width: 14px;
    height: 14px;
    background-color: #3366ff;
    border-color: #3366ff;
    cursor:pointer;
}

.priority-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    font-weight: 400;
    gap:10px;
    margin-left: 12px;
   
}



label {
	fill: rgb(209, 209, 209);
	height: 1rem;
	width: 1rem;
}

#radios label {
	position: relative;
}

input[type="radio"] {
	position: absolute;
	opacity: 0;
}

input[type="radio"] + svg {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

input[class="priority-1"]:hover + svg,
input[class="priority-1"]:checked + svg,
input[class="priority-1"]:focus + svg {
	fill: rgb(207,70,57);
}

input[class="priority-2"]:hover + svg,
input[class="priority-2"]:checked + svg,
input[class="priority-2"]:focus + svg {
	fill: rgb(237,136,4);
}

input[class="priority-3"]:hover + svg,
input[class="priority-3"]:checked + svg,
input[class="priority-3"]:focus + svg {
	fill: rgb(40,110,221);
}

input[class="priority-4"]:hover + svg,
input[class="priority-4"]:checked + svg,
input[class="priority-4"]:focus + svg {
	fill: rgb(104, 255, 93);
}

.modal-bottom{
    display: flex;
    flex-direction: row;
    align-items: center; 
}

input[type="text"]:focus-visible, form.rating {
    outline: none;
    box-shadow: none;   
}

input[type="text"]:not(:placeholder-shown) {
    color: var(--font-color);
}
/* end of modal styling */
